<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <img class="logo" src="/images/new.png" alt="logo" />
        <nav class="navbar">
          <a href="/admin/product/new">Add new product</a>
          <a href="/users/logout">Logout</a>
        </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="container flex admin-home-page">
      <aside class="aside">
          <div>
            <h2>Categories</h2>
            <a href="/admin/product/list">All</a>
            <% arr.forEach(ele=>{ %>
            <a href="/admin/product/list/<%=ele  %>">
              <%= ele%>
            </a>
            <% }) %>
          </div>
      </aside>
      <section class="product">
        <h2>
          Products list
        </h2>
        <div class="container article" >
          <% products.forEach(ele=>{ %>
          <article>
            <div>
              <img
                src="<%= ele.imageUrl  %>"
                alt="item img"
              />
            </div>
            <h3><%= ele.name %></h3>
            <a
              href="/admin/product/details/<%= ele.id  %>"
              >Details</a
            >
          </article>
          <% }) %>
        </div>
      </section>
       </div>
    </main>
  </body>
</html>
